body, html{
  overflow: hidden;
}

#webgl-container{
  position: fixed;
  inset: 0;
  z-index: 0;
}

.box{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 40vw;
  height: 40vw;
  // background: #000;
  border: 2px solid #00f;
  display: flex;
  align-items: center;
  // justify-content: center;
  // border-radius: 500px;
  .log{
    color: #00f;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    margin-left: 2vw;

  }
}