body, html{
  overflow: hidden;
  font-size: 1vh;
}

#webgl-container{
  position: fixed;
  inset: 0;
  z-index: 0;
}

.gridBox{
  display: flex;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  .gridBoxColumn{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-grow: 1;
    .item{
      flex-grow: 1;
      border: 4px solid #000;
      // border-style: dashed;
      border-radius: 20px;
      margin: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      position: relative;
      will-change: width, height;

      .color2 &{
        border: 4px solid #00f;
      }
      p{
        font-size: 3rem;
        color: #000;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;

        .color2 &{
          color: #00f;
        }
        // margin-left: 5%;
        // margin-top: 4%;
      }
    }
    &:nth-child(1){
      // width: 30%;
      .item{
        &:nth-child(1){
          height: 20%;
        }

        &:nth-child(2){
          height: 30%;
        }

        &:nth-child(3){
          height: 50%;
        }
      }
    }

    &:nth-child(2){
      // width: 40%;
      .item{
        &:nth-child(1){
          height: 10%;
        }

        &:nth-child(2){
          height: 70%;
        }

        &:nth-child(3){
          height: 20%;
        }
      }
    }

    &:nth-child(3){
      // width: 20%;
      .item{
        &:nth-child(1){
          height: 40%;
        }

        &:nth-child(2){
          height: 10%;
        }

        &:nth-child(3){
          height: 50%;
        }
      }
    }

    &:nth-child(4){
      // width: 30%;
      .item{
        &:nth-child(1){
          height: 25%;
        }

        &:nth-child(2){
          height: 45%;
        }

        &:nth-child(3){
          height: 30%;
        }
      }
    }
  }
}